.menu {
  display: flex;
  // align-items: center;
  gap: 10px;
  &-link {
    padding: 0 5px;
    font-size: var(--fs-6);
    color: var(--black);
    font-weight: var(--fw-600);
    transition: var(--transition-2);
    &:hover {
      background-color: unset;
      color: var(--emerald);
    }
  }
  &-list {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}

.nav-close-btn {
  color: var(--white_50);
  font-size: 2.8rem;
  border: 1px solid;
  padding: 5px;
  display: inline-flex;
  position: absolute;
  top: 5%;
  right: 30px;
  // display: none;
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 1024px) {
  .menu {
    background-color: var(--gunmetal-1);
    position: fixed;
    top: 0;
    left: 0;
    max-width: 300px;
    width: 100%;
    min-height: 100%;
    padding: 100px 13px 30px;
    box-shadow: var(--shadow-3);
    z-index: 2;
    // visibility: hidden;
    transition: 0.25s var(--cubic-in);
    display: flex;
    flex-direction: column;
    transform: translateX(-300px);
    & li a {
      color: var(--white);
      padding: 14px;
      display: block;
    }
    .nav-close-btn {
      // display: block;
      opacity: 1;
      visibility: visible;
    }
    &.active {
      transform: translateX(0);
      visibility: visible;
      transition: 0.5s var(--cubic-out);
    }
    &-list {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

@media (max-width: 767px) {
  .nav-open-btn {
    order: 3;
  }
}
