.offer {
  --fs-4: 2.8rem;
  &-list {
    display: flex;
    align-items: center;
    gap: 30px;
    overflow-x: auto;
    padding-block-end: 30px;
    margin-block-end: -30px;
    // justify-content: space-between;
  }
  &-item {
    min-width: calc(50% - 15px);
    // margin-inline: 0;
  }
  &-card {
    text-align: left;
    background-color: var(--mint-cream);
    padding: 30px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100%;
    padding-block: 50px;
  }

  &-subtitle {
    color: var(--emerald);
    font-size: var(--fs-7);
    font-weight: var(--fw-700);
    text-transform: uppercase;
    margin-block-end: 5px;
  }
  &-title {
    margin-block: 20px;
    color: var(--gunmetal-2);
    font-size: var(--fs-4);
  }
  &-banner img {
    width: 100%;
    margin-inline: auto;
  }
}

@media (max-width: 1024px) {
  .offer {
    &-list {
      flex-direction: column;
    }
  }
}

@media (max-width: 767px) {
  .offer {
    --fs-4: 2.5rem;
    font-size: var(--fs-4);
    &-card {
      grid-template-columns: 1fr;
    }
    &-content {
      text-align: center;
      & .btn {
        margin-inline: auto;
      }
    }
    &-list {
      display: grid;
      justify-content: flex-start;
      grid-auto-columns: 100%;
      grid-auto-flow: column;
      grid-gap: 1.5rem;
      overflow: auto;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      -webkit-overflow-scrolling: touch;
      scroll-padding: 1rem;
      grid-template-columns: unset;
    }
    &-list ::-webkit-scrollbar {
      display: none;
      width: 0;
    }
    &-list > * {
      scroll-snap-align: start;
    }
  }
}
